:root{
    --orange-stile-color: orange;
}
.navbar-collapse{
    flex-basis: 100%;
    flex-grow: 0; 
    align-items: center;
}
.nav-color{
    color: var(--orange-stile-color);
}
.nav-link{
    color: var(--orange-stile-color);
}
.btn-outline-primary{
    color: var(--orange-stile-color);
    border-color: var(--orange-stile-color);
    --bs-btn-hover-bg: var(--orange-stile-color);
    --bs-btn-hover-border-color: var(--orange-stile-color) ;
    --bs-btn-active-bg: var(--orange-stile-color); 
    --bs-btn-active-border-color: var(--orange-stile-color);
}
#first-section-backround{
    background-image: url(images/header.jpg);
    color: white;
}
.blue-sec-backround{
    background-color: rgb(186, 225, 234);
}