.navbar-collapse{
    flex-basis: 100%;
    flex-grow: 0; 
    align-items: center;
}
.nav-color{
    color: orange;
}
.nav-link{
    color: orange;
}
.btn-orange{
    color: orange;
    border-color: orange;
    --bs-btn-hover-bg: #ffc107;
    --bs-btn-hover-border-color:
}
.btn-orange:hover
#first-section{
    background-image: url(images/header.jpg);
    color: white;
}